@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: normal;
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: italic;
    src: url('Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }