<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col flex-auto min-w-0">
        <div class="flex flex-col shadow bg-card">

            <!-- Cover image -->
            <div>
                <img class="h-40 lg:h-80 object-cover" src="assets/images/avatars/female-01.jpg" alt="Cover image">
            </div>

            <!-- User info -->
            <div class="flex flex-col lg:flex-row items-center max-w-5xl w-full mx-auto px-8 bg-card"
                *ngIf="currentUser">
                <!-- Avatar -->
                <div class="flex-shrink-0 mt-6 lg:mt-0 lg:mr-8">
                    <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" (load)="fetchImage(currentUser?.image)"
                        [src]="imageUrl" alt="User avatar">
                </div>

                <!-- Details -->
                <div class="flex flex-col justify-center items-center lg:items-start mt-6 lg:mt-0 lg:ml-0 lg:flex-grow">
                    <div class="text-2xl font-bold leading-none">{{ currentUser.name }}</div>

                    <div class="text-sm text-secondary">{{ currentUser.phoneNumber }}</div>
                    <div class="text-sm text-secondary">{{ currentUser.email }}</div>
                </div>
            </div>

            <!-- Description -->
            <div class="flex flex-col items-center mt-4 px-8 py-4" *ngIf="currentUser">
                <span class="text-sm font-medium text-secondary break-words ">{{ currentUser.description }}</span>
            </div>
        </div>
    </div>

    <!-- Header -->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Profile
                </h2>
            </div>
            <div class="flex-grow">
                <form
                    class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden custom-width-form mx-auto my-auto"
                    (ngSubmit)="updateUserInfo()">
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pr-3">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="name" name="name" placeholder="name" required>
                            <mat-icon class="icon-size-5" matSuffix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="email" name="email" placeholder="email" required>
                            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3">
                            <mat-label>Phone</mat-label>
                            <input matInput [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="phoneNumber"
                                required>
                            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                            <mat-label>description</mat-label>
                            <textarea matInput [(ngModel)]="description" name="description" placeholder="description"
                                cdkTextareaAutosize [cdkAutosizeMinRows]="3" required></textarea>
                            <mat-icon svgIcon="description"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div style="text-align: center">
                        <form>
                            <div>
                                <input type="file" name="image" (change)="selectImage($event)" />
                            </div>
                            <br>
                            <div>
                                <button type="submit" mat-flat-button color="primary"
                                    (click)="onSubmit()">Confirm</button>
                            </div>
                        </form>
                    </div>

                    <button type="submit" mat-flat-button color="primary">Update</button>
                </form>

            </div>
        </div>
    </div>
</div>