<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
    *transloco="let t; read: 'authForms.signUp'"
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-160 sm:w-140 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-36">
                <img
                    [src]="
                        isDarkModeEnabled()
                            ? 'assets/images/logo/insparklogo.svg'
                            : 'assets/images/logo/insparklogodark.svg'
                    "
                    alt="inspark logo"
                    (click)="navigateToHome()"
                />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                {{ t("title") }}
            </div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>{{ t("alreadyAccount") }}</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"
                >
                    {{ t("signIn") }}
                </a>
            </div>
            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm" floatLabel="always">
                <div class="flex sm:flex-row flex-col justify-between gap-3">
                    <!-- Last Name field -->
                    <!--  Name field -->
                    <mat-form-field class="w-full sm:w-1/2">
                        <mat-label> {{ t("name") }}</mat-label>
                        <input
                            title="name"
                            *transloco="let t; read: 'placeholders'"
                            placeholder="{{ t('name') }}"
                            id="name"
                            matInput
                            [formControlName]="'name'"
                        />
                        <!-- Error handling for Last Name -->
                        <mat-error
                            >{{ t("name") }}
                            <span *transloco="let t; read: 'validators'">{{
                                t("isRequired")
                            }}</span>
                        </mat-error>
                    </mat-form-field>

                    <!-- Birth Date field -->
                    <mat-form-field class="w-full sm:w-1/2">
                        <mat-label>{{ t("birthDate") }}</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="birthDate"
                            placeholder="{{ t('placeholders.birthDate') }}"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="
                                signUpForm
                                    .get('birthDate')
                                    .hasError('invalidAge')
                            "
                        >
                            {{ t("errorMessages.invalidAge") }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Email and Phone fields -->
                <div class="flex sm:flex-row flex-col justify-between gap-3">
                    <!-- Email field -->
                    <mat-form-field class="w-full sm:w-1/2">
                        <mat-label> {{ t("email") }}</mat-label>
                        <input
                            title="email"
                            *transloco="let t; read: 'placeholders'"
                            placeholder="{{ t('email') }}"
                            id="email"
                            matInput
                            [formControlName]="'email'"
                            autocomplete="email"
                        />
                        @if (signUpForm.get('email').hasError('required')) {
                        <mat-error
                            >{{ t("email") }}
                            <span *transloco="let t; read: 'validators'">{{
                                t("isRequired")
                            }}</span>
                        </mat-error>
                        }
                        <!--  -->

                        @if (signUpForm.get('email').hasError('email')) {
                        <mat-error>
                            <span *transloco="let t; read: 'validators'">{{
                                t("invalidEmail")
                            }}</span></mat-error
                        >
                        }
                    </mat-form-field>
                    <!-- Phone field -->
                    <mat-form-field class="flex-auto w-full sm:w-1/2">
                        <mat-label> {{ t("phoneNumber") }}</mat-label>
                        <input
                            matInput
                            formControlName="phoneNumber"
                            *transloco="let t; read: 'placeholders'"
                            placeholder="{{ t('phoneNumber') }}"
                        />
                        <mat-select
                            class="mr-1.5"
                            #countrySelect
                            formControlName="countryCode"
                            matPrefix
                            (openedChange)="onOpenedChange($event)"
                            matAuto
                            (selectionChange)="onCountryChange($event)"
                            [value]="selectedCountry?.iso"
                        >
                            <mat-select-trigger>
                                <span class="flex items-center">
                                    <span
                                        class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                        id="countryFlag"
                                        [style.background]="
                                            'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'
                                        "
                                        [style.backgroundSize]="'24px 3876px'"
                                        [style.backgroundPosition]="
                                            selectedCountry?.flagImagePos
                                        "
                                    >
                                    </span>
                                    <span
                                        class="sm:mx-0.5 font-medium text-default"
                                        >{{ selectedCountry?.code }}</span
                                    >
                                </span>
                            </mat-select-trigger>
                            @for (country of countries; track $index) {
                            <mat-option value="{{ country.iso }}">
                                <span class="flex items-center">
                                    <span
                                        class="w-6 h-4 overflow-hidden"
                                        [style.background]="
                                            'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'
                                        "
                                        [style.backgroundSize]="'24px 3876px'"
                                        [style.backgroundPosition]="
                                            country.flagImagePos
                                        "
                                    >
                                    </span>
                                    <span class="ml-2">{{
                                        country.name[ActiveLang]
                                    }}</span>
                                    <span class="ml-2 font-medium">{{
                                        country.code
                                    }}</span>
                                </span>
                            </mat-option>

                            }
                        </mat-select>
                        <!-- Additional error handling for phone number -->
                        @if(signUpForm.get('phoneNumber').hasError('required')
                        || signUpForm.get('phoneNumber').hasError('pattern') ||
                        signUpForm.get('phoneNumber').hasError('minlength') ||
                        signUpForm.get('phoneNumber').hasError('maxlength')){
                        <mat-error>
                            <span *transloco="let t; read: 'validators'">{{
                                t("invalidPhoneNumber")
                            }}</span>
                        </mat-error>
                        }
                    </mat-form-field>
                </div>

                <!-- Password fields -->
                <div class="flex sm:flex-row flex-col justify-between gap-3">
                    <!-- Password  field -->
                    <div class="w-full sm:w-1/2">
                        <div>
                            <mat-form-field
                                class="w-full"
                                subscriptSizing="dynamic"
                            >
                                <mat-label> {{ t("password") }}</mat-label>
                                <input
                                    id="password"
                                    title="password"
                                    matInput
                                    type="password"
                                    [formControlName]="'password'"
                                    #passwordField
                                    autocomplete="new-password"
                                />
                                <button
                                    mat-icon-button
                                    title="Show password"
                                    type="button"
                                    (click)="
                                        passwordField.type === 'password'
                                            ? (passwordField.type = 'text')
                                            : (passwordField.type = 'password')
                                    "
                                    matSuffix
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="
                                            passwordField.type === 'password'
                                        "
                                        [svgIcon]="'heroicons_solid:eye'"
                                    ></mat-icon>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'text'"
                                        [svgIcon]="'heroicons_solid:eye-slash'"
                                    ></mat-icon>
                                </button>

                                <!-- Additional error handling for password -->

                                <mat-error
                                    >{{ t("password") }}
                                    <span
                                        *transloco="let t; read: 'validators'"
                                        >{{ t("isRequired") }}</span
                                    >
                                </mat-error>
                            </mat-form-field>
                            <!-- Password strength meter -->
                            <div class="w-4/5 mx-auto">
                                <password-strength-meter
                                    [password]="
                                        signUpForm.get('password').value
                                    "
                                    [minPasswordLength]="8"
                                    [numberOfProgressBarItems]="5"
                                    (strengthChange)="onStrengthChange($event)"
                                ></password-strength-meter>
                            </div>
                        </div>
                    </div>

                    <div class="w-full sm:w-1/2">
                        <!-- Password confirm field -->
                        <mat-form-field class="w-full">
                            <mat-label> {{ t("passwordConfirm") }}</mat-label>
                            <input
                                id="password-confirm"
                                title="password-confirm"
                                matInput
                                type="password"
                                [formControlName]="'passwordConfirm'"
                                #passwordConfirmField
                                autocomplete="new-password"
                            />
                            <button
                                mat-icon-button
                                title="Show password"
                                type="button"
                                (click)="
                                    passwordConfirmField.type === 'password'
                                        ? (passwordConfirmField.type = 'text')
                                        : (passwordConfirmField.type =
                                              'password')
                                "
                                matSuffix
                            >
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="
                                        passwordConfirmField.type === 'password'
                                    "
                                    [svgIcon]="'heroicons_solid:eye'"
                                ></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordConfirmField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-slash'"
                                ></mat-icon>
                            </button>
                            <!-- Additional error handling for password confirmation -->
                            @if
                            (signUpForm.get('passwordConfirm').hasError('required'))
                            {
                            <mat-error
                                >{{ t("passwordConfirm") }}
                                <span *transloco="let t; read: 'validators'">{{
                                    t("isRequired")
                                }}</span>
                            </mat-error>
                            } @if
                            (signUpForm.get('passwordConfirm').hasError('mustMatch'))
                            {
                            <mat-error>
                                <span *transloco="let t; read: 'validators'">{{
                                    t("passwordMatch")
                                }}</span>
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        class="-ml-2"
                        [color]="'primary'"
                        [formControlName]="'agreements'"
                    >
                        <span>{{ t("agree") }}</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']"
                            >{{ t("terms") }}
                        </a>
                        <span>{{ t("and") }}</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']"
                            >{{ t("privacyPolicy") }}
                        </a>
                    </mat-checkbox>
                </div>

                <re-captcha
                    formControlName="recaptchaReactive"
                    theme="light"
                    (resolved)="resolved($event)"
                >
                </re-captcha>

                <!-- Submit button -->
                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    type="button"
                    mat-flat-button
                    [color]="'primary'"
                    title="Sign up"
                    [disabled]="signUpForm.invalid || isLoadingOTP"
                    (click)="signUp()"
                >
                    <span *ngIf="!(signUpForm.disabled || isLoadingOTP)">
                        {{ t("createAccount") }}
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled || isLoadingOTP"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l"
    >
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg
            class="absolute inset-0 pointer-events-none"
            viewBox="0 0 960 540"
            width="100%"
            height="100%"
            preserveAspectRatio="xMidYMax slice"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g
                class="text-gray-700 opacity-25"
                fill="none"
                stroke="currentColor"
                stroke-width="100"
            >
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg
            class="absolute -top-16 -right-16 text-gray-700"
            viewBox="0 0 220 192"
            width="220"
            height="192"
            fill="none"
        >
            <defs>
                <pattern
                    id="837c3e70-6c3a-44e6-8854-cc48c737b659"
                    x="0"
                    y="0"
                    width="20"
                    height="20"
                    patternUnits="userSpaceOnUse"
                >
                    <rect
                        x="0"
                        y="0"
                        width="4"
                        height="4"
                        fill="currentColor"
                    ></rect>
                </pattern>
            </defs>
            <rect
                width="220"
                height="192"
                fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
            ></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>{{ t("welcome") }}</div>
                <div>{{ t("inspark IDP") }}</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                {{ t("description") }}
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-18.jpg"
                        alt="avatar"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-11.jpg"
                        alt="avatar"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-09.jpg"
                        alt="avatar"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-16.jpg"
                        alt="avatar"
                    />
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">
                    {{ t("people") }}
                </div>
            </div>
        </div>
    </div>
</div>
