<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img class="w-20" src="assets/images/logo/logo.svg" alt="Logo image">
            <h1>welcome</h1>
            <p>
                Inspark IDP the Internal Developer Platform that cuts noise for developers with paved paths to
                production. Testing, ephemeral environments, and drive action to improve software.
            </p>
            <p>
                Eliminate manual ops work and empower developers with our Internal Developer Platform.
            </p>
        </div>


        <div>
            <a class="mt-8" mat-flat-button [color]="'primary'" [routerLink]="'/sign-in'">
                <span>Get Started</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>