<div class="flex flex-col flex-auto min-w-0 items-center justify-center">
    <div class="flex-auto p-6 sm:p-10 w-full">
        <div class="flex flex-wrap items-start justify-center w-full -m-4">
            <div class="p-4 w-full">
                <fuse-card class="flex items-center justify-center w-full p-6">
                    <div class="flex flex-col lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card"
                        *ngIf="user$ | async as currentUser">
                        <div *ngIf="imageUrl">
                            <img class="w-20 h-20 mr-6 rounded-full" [src]="imageUrl" alt="User avatar">
                        </div>
                        <div class="flex flex-col ml-4 lg:ml-8">
                            <div class="text-2xl font-semibold leading-tight">{{ currentUser?.name || 'N/A' }}</div>
                            <div class="text-md text-secondary">{{ currentUser?.createdAt | date: 'MMMM d, y' }}</div>
                        </div>
                    </div>
                </fuse-card>
            </div>




            <!-- Row containing General, Activity Feed, and Organization cards -->
            <div class="flex flex-wrap w-full">
                <div class="p-4 w-full sm:w-1/3 ">
                    <!-- Aout -->
                    <fuse-card class="flex flex-col w-full p-8 pt-6 pb-4">
                        <div class="flex items-center justify-between">
                            <div class="text-2xl font-semibold leading-tight">About</div>
                            <div class="-mr-3">
                                <button mat-icon-button [matMenuTriggerFor]="listCard07Menu">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                </button>
                                <mat-menu #listCard07Menu="matMenu">
                                    <button mat-menu-item [routerLink]="['/settings/account']">Edit</button>
                                    <button mat-menu-item [routerLink]="['/settings/security']">Settings</button>
                                </mat-menu>
                            </div>
                        </div>
                        <hr class="w-full border-t my-4">
                        <div class="flex flex-col my-2">
                            <div class="text-xl font-semibold leading-tight">Description</div>
                            <div class="my-2">
                                <div class="text-secondary text-md">
                                    {{currentUser?.description}}
                                </div>
                                <hr class="w-full border-t my-4">

                            </div>
                            <div class="my-2">
                                <div class="text-xl font-semibold leading-tight">Contact</div>
                                <div class="text-secondary mt-4">
                                    <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_solid:envelope"></mat-icon>
                                    <span>{{currentUser?.email || 'N/A'}}</span>
                                </div>
                                <div class="text-secondary mt-4">
                                    <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_solid:phone"></mat-icon>
                                    <span class="leading-none">{{currentUser?.phoneNumber}}</span>
                                </div>
                                <hr class="w-full border-t my-4">
                            </div>
                            <div class="my-2">
                                <div class="text-xl font-semibold leading-tight">Basic Informations</div>
                                <div class="text-secondary mt-4">
                                    <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_solid:cake"></mat-icon>
                                    <span>{{currentUser?.birthDate}}</span>
                                </div>
                                <div class="text-secondary mt-4">
                                    <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_solid:map-pin"></mat-icon>
                                    <span class="leading-none">{{currentUser?.city}}</span>
                                </div>
                            </div>
                        </div>
                    </fuse-card>
                </div>
                <div class="flex flex-col w-2/3">
                    <!-- Current project -->
                    <div class="p-4 w-full "> <!-- Full width for the Customer Reviews card -->
                        <fuse-card class="flex flex-col w-full p-8 pt-6 pb-4">
                            <div class="text-2xl font-semibold leading-tight">Current Projects Progress</div>
                            <div class="flex flex-col mt-4">
                                <div class="flex items-center my-2">
                                    <div class="max-w-50 w-full whitespace-nowrap">5 star</div>
                                    <mat-progress-bar class="my-2" [value]="87"></mat-progress-bar>
                                    <div class="max-w-10 w-full text-right">87%</div>
                                </div>
                                <div class="flex items-center my-2">
                                    <div class="max-w-50 w-full whitespace-nowrap">4 star</div>
                                    <mat-progress-bar class="my-2" [value]="7"></mat-progress-bar>
                                    <div class="max-w-10 w-full text-right">7%</div>
                                </div>
                                <div class="flex items-center my-2">
                                    <div class="max-w-50 w-full whitespace-nowrap">3 star</div>
                                    <mat-progress-bar class="my-2" [value]="1"></mat-progress-bar>
                                    <div class="max-w-10 w-full text-right">1%</div>
                                </div>
                                <div class="flex items-center my-2">
                                    <div class="max-w-50 w-full whitespace-nowrap">2 star</div>
                                    <mat-progress-bar class="my-2" [value]="1"></mat-progress-bar>
                                    <div class="max-w-10 w-full text-right">1%</div>
                                </div>
                                <div class="flex items-center my-2">
                                    <div class="max-w-50 w-full whitespace-nowrap">1 star</div>
                                    <mat-progress-bar class="my-2" [value]="2"></mat-progress-bar>
                                    <div class="max-w-10 w-full text-right">2%</div>
                                </div>
                            </div>
                            <div class="flex items-center -mx-3 mt-3">
                                <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']">
                                    See All Projects
                                </a>
                            </div>
                        </fuse-card>
                    </div>

                    <div class="flex gap-5">
                        <!-- Activity feed -->
                        <div class="p-4 w-full sm:w-1/3 flex-grow">
                            <fuse-card class="flex flex-col w-full p-8 pt-6 pb-4">
                                <div class="flex items-center justify-between">
                                    <div class="text-2xl font-semibold leading-tight">Activity Feed</div>
                                    <div class="-mr-3">
                                        <button mat-icon-button [matMenuTriggerFor]="listCard04Menu">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #listCard04Menu="matMenu">
                                            <button mat-menu-item>Clear activities</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col mt-5">
                                    <div class="flex">
                                        <div class="flex flex-col min-w-0">
                                            <div class="leading-tight">Amelia Edwards commented on John Silverton's
                                                photo
                                            </div>
                                            <div class="text-md leading-none text-secondary mt-2">4 minutes ago</div>
                                        </div>
                                    </div>
                                    <div class="flex mt-8">
                                        <div class="flex flex-col min-w-0">
                                            <div class="leading-tight">Lew Silverton changed his profile photo</div>
                                            <div class="text-md leading-none text-secondary mt-2">25 minutes ago</div>
                                        </div>
                                    </div>
                                    <div class="flex mt-8">
                                        <div class="flex flex-col min-w-0">
                                            <div class="leading-tight">Brian Hughes liked your photo</div>
                                            <div class="text-md leading-none text-secondary mt-2">3 hours ago</div>
                                        </div>
                                    </div>
                                    <div class="flex mt-8">
                                        <div class="flex flex-col min-w-0">
                                            <div class="leading-tight">Brian Hughes liked your photo</div>
                                            <div class="text-md leading-none text-secondary mt-2">3 hours ago</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center mt-6 -mx-3">
                                    <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./']">
                                        See entire activity feed
                                    </a>
                                </div>
                            </fuse-card>
                        </div>
                        <!-- Organizations Team -->
                        <div class="p-4 w-full sm:w-1/3 flex-grow">
                            <fuse-card class="flex flex-col w-full p-8 pt-6 pb-4">
                                <div class="flex items-center justify-between">
                                    <div class="text-2xl font-semibold leading-tight">Organizations Team</div>
                                    <div class="-mr-3">
                                        <button mat-icon-button [matMenuTriggerFor]="listCard03Menu">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #listCard03Menu="matMenu">
                                            <button mat-menu-item>Add Organization</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col mt-5">
                                    <div class="flex items-center">
                                        <img class="w-14 h-14 mr-4 rounded-full"
                                            src="assets/images/avatars/female-01.jpg" alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">Amelia Edwards</div>
                                            <div class="text-md leading-none text-secondary mt-1">3 mutual friends</div>
                                        </div>
                                    </div>
                                    <div class="flex items-center mt-6">
                                        <img class="w-14 h-14 mr-4 rounded-full" src="assets/images/avatars/male-05.jpg"
                                            alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">Lew Silverton</div>
                                            <div class="text-md leading-none text-secondary mt-1">3 mutual friends</div>
                                        </div>
                                    </div>
                                    <div class="flex items-center mt-6">
                                        <img class="w-14 h-14 mr-4 rounded-full"
                                            src="assets/images/avatars/female-05.jpg" alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">Leanne Simpson</div>
                                            <div class="text-md leading-none text-secondary mt-1">Went to same high
                                                school
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center mt-6 -mx-3">
                                    <a class="px-3" mat-button [color]="'primary'" [routerLink]="['/settings/team']">
                                        See all teams members
                                    </a>
                                </div>
                            </fuse-card>
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>
</div>