.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .table-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .mat-table {
    table-layout: fixed;
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    width: 20%; /* or adjust as needed for equal spacing */
  }
  
  .mat-paginator {
    justify-content: center;
  }
  