<form [formGroup]="bitbucketForm" (ngSubmit)="onSubmit()" class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
    <img src="./assets/images/logo/insparklogodark.svg" alt="Bitbucket Logo" class="mx-auto my-4" style="width: 300px;">

    <mat-form-field>
        <mat-label>Git Provider</mat-label>
        <mat-select formControlName="selectedProvider" (selectionChange)="handleProviderChange($event.value)">
            <mat-option value="github">GitHub</mat-option>
            <mat-option value="bitbucket">Bitbucket</mat-option>
            <mat-option value="gitlab">Gitlab</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="flex flex-col gt-xs:flex-row"  >
        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pr-3" *ngIf="selectedProvider!== 'github'">
            <mat-label>Workspace name</mat-label>
            <input matInput formControlName="workspace" placeholder="Enter Workspace name">
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:code-bracket'"></mat-icon>
        </mat-form-field>
        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3">
            <mat-label>Access Token</mat-label>
            <input matInput formControlName="accessToken" type="password" placeholder="Enter Access Token">
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
        </mat-form-field>
    </div>
    <!-- <div class="p-2 flex">
        <button type="submit" mat-raised-button color="primary">Validate</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div> -->
    <button
    type="submit"
    class="inline-block rounded bg-neutral-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-600 shadow-light-3 transition duration-150 ease-in-out hover:bg-neutral-200 hover:shadow-light-2 focus:bg-neutral-200 focus:shadow-light-2 focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-light-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
    Validate
  </button>
  <button
    (click)="onCancel()"
    class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-dark-3 transition duration-150 ease-in-out hover:bg-neutral-700 hover:shadow-dark-2 focus:bg-neutral-700 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-dark-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
    Cancel
  </button>
</form>