<div class="absolute top-0 right-2 md:right-56 z-80">
    <languages></languages>
  </div>
  
  <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0" *transloco="let t; read: 'authForms.signIn'">
    <!-- Background - @formatter:off -->
    <!-- Rings -->
    <svg
      class="absolute inset-0 pointer-events-none"
      viewBox="0 0 960 540"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMax slice"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
    <!-- Dots -->
    <svg class="absolute -top-16 right-0 text-gray-700" viewBox="0 0 220 192" width="220" height="192" fill="none">
      <defs>
        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
    </svg>
    <!-- @formatter:on -->
    <!-- Content -->
  
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
      <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
        <!-- Logo -->
        <div class="w-12">
          <img src="assets/images/logo/header.svg" alt="inspark logo" />
        </div>
  
        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
          {{ t('title') }}
        </div>
        <div class="flex items-baseline mt-0.5 font-medium">
          <div>{{ t('noAccount') }}</div>
          <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">{{ t('signUp') }} </a>
        </div>
  
        <!-- Sign in form -->
        <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
          <!-- Email field -->
          <mat-form-field class="w-full">
            <mat-label>{{ t('email') }}</mat-label>
            <input id="email" title="email" matInput [formControlName]="'email'" autocomplete="email" />
  
            @if (signInForm.get('email').hasError('required')) {
            <mat-error
              >{{ t('email') }}
              <span *transloco="let t; read: 'validators'">{{ t('isRequired') }}</span>
            </mat-error>
            }
            <!--  -->
  
            @if (signInForm.get('email').hasError('email')) {
            <mat-error>
              <span *transloco="let t; read: 'validators'">{{ t('invalidEmail') }}</span></mat-error
            >
            }
          </mat-form-field>
  
          <!-- Password field -->
          <mat-form-field class="w-full mt-1">
            <mat-label>{{ t('password') }}</mat-label>
            <input
              id="password"
              title="password"
              matInput
              type="password"
              [formControlName]="'password'"
              autocomplete="current-password"
              #passwordField
            />
            <button
              mat-icon-button
              title="Toggle password visibility"
              type="button"
              (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
              matSuffix
            >
              <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
              <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error> Password is required </mat-error>
          </mat-form-field>
  
          <!-- Actions -->
          <div class="inline-flex items-center justify-between w-full mt-1.5">
            <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'rememberMe'">
              {{ t('rememberMe') }}
            </mat-checkbox>
            <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/forgot-password']"
              >{{ t('forgotPassword') }}?
            </a>
          </div>
  
          <!-- Submit button -->
          <button
            type="button"
            class="fuse-mat-button-large w-full mt-6 bg-primary text-white"
            mat-flat-button
            [disabled]="signInForm.disabled"
            (click)="signIn()"
          >
            <span *ngIf="!signInForm.disabled">{{ t('title') }} </span>
            <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
          <!-- Separator -->
          <div class="flex items-center mt-8">
            <div class="flex-auto mt-px border-t"></div>
            <div class="mx-2 text-secondary">{{ t('continueWith') }}</div>
            <div class="flex-auto mt-px border-t"></div>
          </div>
  
          <!-- Single sign-on buttons -->
          <div class="flex items-center mt-8 space-x-4">
            <button class="flex-auto" type="button" title="linkedin sign in" mat-stroked-button>
              <mat-icon class="icon-size-5" [svgIcon]="'feather:linkedin'"></mat-icon>
            </button>
            <button class="flex-auto" type="button" title="google sign in" mat-stroked-button>
              <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
            </button>
            <button title="github sign in" class="flex-auto" type="button" mat-stroked-button>
              <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  