<div
    class="settings-cog fixed flex items-center justify-center right-0 w-10 h-10 shadow-lg rounded-l-lg z-90 cursor-pointer bg-red-600 bg-opacity-90 print:hidden"
    [class.lg:right-0]="config.layout === 'centered' || config.layout === 'material'"
    [class.lg:right-16]="config.layout!== 'centered' && config.layout!== 'material'"
    style="top: 275px"
    (click)="settingsDrawer.toggle()"
>
    <mat-icon
        class="icon-size-5 text-white animate-spin-slow"
        [svgIcon]="'heroicons_solid:cog-8-tooth'"
    ></mat-icon>
</div>

<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'settingsDrawer'"
    [position]="'right'"
    #settingsDrawer
>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <div
            class="flex flex-row items-center px-6 h-10 min-h-20 text-white bg-primary"
        >
            <mat-icon
                class="icon-size-7 text-current"
                [svgIcon]="'heroicons_solid:cog-8-tooth'"
            ></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Progress
            </div>
            <button
                class="ml-auto"
                mat-icon-button
                (click)="settingsDrawer.close()"
            >
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x-mark'"
                ></mat-icon>
            </button>
        </div>

        <div class="flex flex-col p-6"></div>
        <div>
            <ol class="space-y-4 w-auto m-4">
                <a href="/gitProvider">
                <li *ngIf="hasProjects()" [ngClass]="{'text-green-700 border-green-300 bg-green-50': hasProjects() && hasProjects() !== null, 'text-gray-900 bg-gray-100': !hasProjects() || hasProjects() === null}" [routerLink]="['/gitProvider']">
                    <div class="w-full p-4 rounded-lg cursor-pointer" role="alert">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">Provider Setup</span>
                            <h3 class="font-medium">1. Provider Setup</h3>
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                        </div>
                    </div>
                </li>
            </a>
            <a href="/services">
                <li *ngIf="hasRepos()" [ngClass]="{'text-green-700 border-green-300 bg-green-50': hasRepos() && hasRepos() !== null, 'text-gray-900 bg-gray-100': !hasRepos() || hasRepos() === null}" [routerLink]="['/services']">
                    <div class="w-full p-4 rounded-lg cursor-pointer" role="alert">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">Service Setup</span>
                            <h3 class="font-medium">2. Service Setup</h3>
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                        </div>
                    </div>
                </li>
            </a>
                <li>
                    <div class="w-full p-4 text-blue-700 bg-blue-100 border border-blue-300 rounded-lg cursor-pointer dark:bg-gray-800 dark:border-blue-800 dark:text-blue-400" role="alert">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">Deployment</span>
                            <h3 class="font-medium">3. Deployment</h3>
                            <svg class="rtl:rotate-180 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" role="alert">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">Review</span>
                            <h3 class="font-medium">4. Review</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w-full p-4 text-gray-900 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" role="alert">
                        <div class="flex items-center justify-between">
                            <span class="sr-only">Confirmation</span>
                            <h3 class="font-medium">5. Confirmation</h3>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-blue-50 dark:bg-blue-900 m-5" role="alert">
            <div class="flex items-center mb-3">
                <span class="bg-orange-100 text-orange-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Beta</span>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 inline-flex justify-center items-center w-6 h-6 text-blue-900 rounded-lg focus:ring-2 focus:ring-blue-400 p-1 hover:bg-blue-200 dark:bg-blue-900 dark:text-blue-400 dark:hover:bg-blue-800" data-dismiss-target="#dropdown-cta" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
            <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
                Preview the new Flowbite dashboard navigation! You can turn the new navigation off for a limited time in your profile.
            </p>
            <a class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300" href="#">Turn new navigation off</a>
        </div>
    </div>
</fuse-drawer>