<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Templates</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Architectures 
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="mb-6 sm:mb-12">
            <mat-button-toggle-group
                class="flex flex-wrap -m-2"
                [(ngModel)]="selectedFilter"
                (change)="onFilterChange($event)">
                <ng-container *ngFor="let filter of filters">
                    <mat-button-toggle
                        class="m-2"
                        [value]="filter">
                        <span class="text-secondary">{{filter | titlecase}}</span>
                        <span class="ml-1.5 font-medium text-secondary">({{numberOfCards[filter]}})</span>
                    </mat-button-toggle>
                </ng-container>
            </mat-button-toggle-group>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

            <!-- Card #3 - Flippable card -->
            <fuse-card
                class="flex flex-col"
                [flippable]="true"
                [face]="'front'"
                #flippableCard01="fuseCard">
                <ng-container fuseCardFront>
                    <img
                        class="object-cover"
                        src="assets/images/cards/ECS.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">Deploy Java microservices On Amazon ECS</div>
                        <div class="mt-4 flex-auto">This pattern guides you through the steps for deploying Java microservices as containerized
                            applications in Amazon ECS.
                        </div>
                        <div class="mt-3 -mx-3 flex justify-between">
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'" >
                                Read More
                            </button>
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="downloadZIP()" >
                                Download
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto mb-8">
                        <button
                            class="ml-1.5"
                            mat-icon-button
                            (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3 flex-auto">
                            <div class="text-2xl font-semibold leading-tight">
                                Deploy Java microservices On Amazon ECS
                            </div>
                            <div class="mt-4">
                                Deploying Java microservices on Amazon ECS (Elastic Container Service) involves several steps. ECS allows you to run Docker containers in a highly scalable and reliable manner.
                                Here's a general guide to deploying Java microservices on Amazon ECS:
                            </div>
                            <div class="mt-4">
                                <li> Containerize Your Java Microservice</li>
                                <li>Push Docker Image to a Registry</li>
                                <li>Create an ECS Task Definition</li>
                                <li>Create an ECS Cluster</li>
                                <li>Set Up Networking</li>
                            </div>
                         
                            <div class="mt-3 -mx-3 flex justify-between">
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'"
                                    (click)="navigateToDetails()">
                                    Show details 
                                </button>
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'">
                                    Price
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>

            <!-- Card #4 - Flippable card -->
            <fuse-card
                class="flex flex-col"
                [flippable]="true"
                [face]="'front'"
                #flippableCard02="fuseCard">
                <ng-container fuseCardFront>
                    <img
                        class="object-cover"
                        src="assets/images/cards/architecture aws micro service-2-.png"
                        alt="Card cover image">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">Deploy a microservices-based application on AWS using Elastic Kubernetes Service (EKS) infrastructure.</div>
                        <div class="mt-4 flex-auto">This architecture is designed to host a highly available and scalable web application on AWS.
                        </div>
                        <div class="mt-3 -mx-3 flex justify-between">
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="flippableCard02.face = flippableCard02.face === 'front' ? 'back' : 'front'" >
                                Read More
                            </button>
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="downloadZIP1()" >
                                Download
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto mb-8">
                        <button
                            class="ml-1.5"
                            mat-icon-button
                            (click)="flippableCard02.face = flippableCard02.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3 flex-auto">
                            <div class="text-2xl font-semibold leading-tight">
                                Deploy a microservices-based application on AWS using Elastic Kubernetes Service (EKS)
                            </div>
                            <div class="mt-4">
                                The architecture consists of the following key components:
                            </div>
                            <div class="mt-4">
                                <li> Route 53 for DNS management and routing traffic to various AWS resources.</li>
                                <li>Amazon CloudFront for content delivery and caching.</li>
                                <li>VPC with public and private subnets spread across two availability zones.</li>
                                <li>Internet Gateway for connecting the VPC to the internet.</li>
                                <li>NAT Gateways for allowing private subnet resources to access the internet.</li>
                                <li>Elastic Load Balancer (ELB) for distributing incoming traffic across multiple EKS nodes.</li>
                                <li>Amazon Elastic Kubernetes Service (EKS) for managing containerized applications.</li>
                            </div>
                         
                            <div class="mt-3 -mx-3 flex justify-between">
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'"
                                    (click)="navigateToDetails1()">
                                    Show details 
                                </button>
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'">
                                    Price
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>

            <!-- Card #5 - Flippable card -->
            <fuse-card
                class="flex flex-col"
                [flippable]="true"
                [face]="'front'"
                #flippableCard03="fuseCard">
                <ng-container fuseCardFront>
                    <img
                        class="object-cover"
                        src="assets/images/cards/basic-webapp-v2.png"
                        alt="Card cover image">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">Deploy a Basic web application on Azure using Azure App Service</div>
                        <div class="mt-4 flex-auto">This architecture shows the fundamental components of a basic web application.
                             You can use the architecture to build a web application and then customize the application to your needs.
                        </div>
                        <div class="mt-3 -mx-3 flex justify-between">
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="flippableCard03.face = flippableCard03.face === 'front' ? 'back' : 'front'" >
                                Read More
                            </button>
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="downloadZIP()" >
                                Download
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto mb-8">
                        <button
                            class="ml-1.5"
                            mat-icon-button
                            (click)="flippableCard03.face = flippableCard03.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3 flex-auto">
                            <div class="text-2xl font-semibold leading-tight">
                                Deploy a Basic web application on Azure using Azure App Service
                            </div>
                            <div class="mt-4">
                                The architecture consists of the following key components:
                            </div>
                            <div class="mt-4">
                                <li> Azure App Service.</li>
                                <li>Deployment slots.</li>
                                <li>IP address.</li>
                                <li>Azure DNS.</li>
                                <li>Azure SQL Database.</li>
                                <li>Microsoft Entra ID.</li>
                                <li>Azure Monitor.</li>
                                <li>Azure Key Vault.</li>
                            </div>
                         
                            <div class="mt-3 -mx-3 flex justify-between">
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'"
                                    (click)="navigateToDetails2()">
                                    Show details 
                                </button>
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'">
                                    Price
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>

            <!-- Card #6 - Flippable card -->
            <fuse-card
                class="flex flex-col"
                [flippable]="true"
                [face]="'front'"
                #flippableCard04="fuseCard">
                <ng-container fuseCardFront>
                    <img
                        class="object-cover"
                        src="assets/images/cards/aks.png"
                        alt="Card cover image">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">Microservices architecture on Azure Kubernetes Service</div>
                        <div class="mt-4 flex-auto">This reference architecture shows a microservices application deployed to Azure Kubernetes Service (AKS). 
                            It describes a basic AKS configuration that can be the starting point for most deployments.
                        </div>
                        <div class="mt-3 -mx-3 flex justify-between">
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="flippableCard04.face = flippableCard04.face === 'front' ? 'back' : 'front'" >
                                Read More
                            </button>
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="downloadZIP()" >
                                Download
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto mb-8">
                        <button
                            class="ml-1.5"
                            mat-icon-button
                            (click)="flippableCard04.face = flippableCard04.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3 flex-auto">
                            <div class="text-2xl font-semibold leading-tight">
                                Microservices architecture on Azure Kubernetes Service
                            </div>
                            <div class="mt-4">
                                The architecture consists of the following key components:
                            </div>
                            <div class="mt-4">
                                <li> Azure Kubernetes Service (AKS).</li>
                                <li>Virtual network.</li>
                                <li>Ingress.</li>
                                <li>Azure Load Balancer.</li>
                                <li>External data stores.</li>
                                <li>Microsoft Entra ID.</li>
                                <li>Azure Container Registry.</li>
                                <li>Azure Pipelines.</li>
                                <li>Helm.</li>
                                <li>Azure Monitor.</li>
                            </div>
                         
                            <div class="mt-3 -mx-3 flex justify-between">
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'"
                                    (click)="navigateToDetails3()">
                                    Show details 
                                </button>
                                <button
                                    class="px-3"
                                    mat-button
                                    [color]="'primary'">
                                    Price
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>
            <fuse-card *ngFor="let infra of paginatedInfrastructures" class="flex flex-col" [flippable]="true" [face]="'front'" #flippableCardDynamic="fuseCard" >
                <ng-container fuseCardFront>
                    <img class="object-cover" [src]="infra.imageUrl" alt="Card cover image">
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">{{ infra.title }}</div>
                        <div class="mt-4 flex-auto">{{ infra.description }}</div>
                        <div class="mt-3 -mx-3 flex justify-between">
                            <button class="px-3" mat-button [color]="'primary'" (click)="flippableCardDynamic.face = flippableCardDynamic.face === 'front' ? 'back' : 'front'">Read More</button>
                            <button class="px-3" mat-button [color]="'primary'" (click)="downloadFile(infra.fileUrl)">Download</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto mb-8">
                        <button class="ml-1.5" mat-icon-button (click)="flippableCardDynamic.face = flippableCardDynamic.face === 'front' ? 'back' : 'front'">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <div class="m-4 mt-3 flex-auto">
                            <div class="text-2xl font-semibold leading-tight">{{ infra.title }}</div>
                            <div class="mt-4">{{ infra.description }}</div>
                            <div class="mt-4">
                                <ul class="list-disc pl-5">
                                    <li *ngFor="let step of infra.steps">{{ step }}</li>
                                </ul>
                            </div>
                            <div class="mt-3 -mx-3 flex justify-between">
                                <button class="px-3" mat-button [color]="'primary'" (click)="navigateToDetails(infra)">Show details</button>
                                <button class="px-3" mat-button [color]="'primary'">Price</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>
        </div>
        <mat-paginator [length]="infrastructures.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
        </mat-paginator>
    </div>

</div>
